
.scroll-container {
  overflow: hidden;
  width: 50%;
  box-sizing: border-box;
}

.scroll-text {
  font-size: 20px;
  padding: 4px;
  white-space: nowrap;
  font-family: "Didot";
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  animation: marquee 14s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .scroll-text {
    animation-duration: 4s; 
  }
}
